/** GLOBALES **/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem; /*1rem = 10px*/
}

body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
}
a{
  text-decoration: none;
}
header {
    height: 10rem;
    background-color: #ff3b3c;

}
section {
  height: 340px;
}
main {
  padding: 5rem;
  height: auto;
}
footer {
  background-color: #7525A7;
}

/** HEADER **/
.search{
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.search .form{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input{
  height: 6.2rem;
  border-radius: 1.4rem;
  border: none;
  width: 10rem;
  padding: 2rem;
  box-sizing: border-box;
}
.search .social ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search .social ul li{
  padding: 0 1rem;
}
.nav{
  padding: 1rem 0;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a{
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover{
  text-decoration: underline;
}

/** MAIN **/

.container{
  width: 100%;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}
main .columns-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-images-block, .product-description-block{
  margin: 0px 2rem;
  flex: 1;
}
.product-checkout-block{
  max-width: 100%;
  margin: 0;
}
.product-images-block{
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
}
.product-images-block .thumbnail-container{
  grid-column: 1;
}
.product-images-block .thumbnail-container img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}
.product-images-block .main-image{
  width: 100%;
  grid-row: 1 / 5;
  grid-column: 2 / 5;
}

/**  **/
.product-description-block{
  flex: 1;
}

.product-description-block .title {
  color: #333; /* Elige un color adecuado */
  font-size: 2.4rem; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}
.product-description-block .selector fieldset{
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-radius: 1.5rem;
}
.product-description-block .selector fieldset select{
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  
}
.product-description-block .description p{
  color: #646464;
  font-size: 1.6rem;
  font-weight: lighter;
  word-wrap: break-word;
  text-align: justify;
}

.checkout-container{
  background-color: #ebebeb;
  padding: 3.3rem;
  border-radius: 2px;
  flex: 1;
  margin: 0 auto;
}
.checkout-total-label{
  color: red;
  text-align: left;
}
.checkout-total-price{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1rem 0;
}
.checkout-description{
  line-height: 20.4px;
  word-wrap: break-word;
}
.checkout-policy-list{
  list-style-type: none;
  margin-bottom: 3rem;
  padding: 0;
}
.checkout-policy-list li {
  display: flex; /* Alineación horizontal de íconos y texto */
  margin: 15px 0; /* Espacio entre elementos de la lista */
}
.checkout-policy-list li .policy-icon {
  margin-right: 15px; /* Espacio entre el ícono y el texto */
}
.checkout-policy-list li .policy-desc{
  text-align: justify;
}

.checkout-process .top{
  display: flex;
  margin-bottom: 1rem;
}
.checkout-process .top input{
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}
.btn-primary {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}
.btn-outline {
  width: 100%;
  border: 1px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}

/** OFERTAS **/

.sales-block{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 5rem;
  grid-gap: 5rem;
  margin: 0;
}
.sales-block h2{
  grid-row: 1;
  grid-column: 1 / 3;
  justify-self: center;
  text-align: center;
  font-size: 3rem;
}
.sales-block a{
  text-decoration: none;
  color: initial;
}
.product-img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
}
.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}
.product-price-block .price {
  font-size: 2.2rem;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 1.2rem;
  font-weight: 700;
  color: #428f13;
}
.product-card{
  background-color: #F0F0F0;
  border-radius: 1.4rem;
  width: auto;
  overflow: hidden;
}  
.product-card:hover{
  text-decoration: underline;
}
.product-info{
  padding: 2rem;
  box-sizing: border-box;
}
.product-title{
  font-size: large;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  line-height: 2.2rem;
}
.product-description{
  font-size: small;
  font-weight: normal;
  margin: 0.6rem;
}
.product-tax-policy{
  font-size: medium;
  font-weight: lighter;
}

@media (min-width: 425px) {
  .search .form input{
    width: 20rem;
  }
  }
@media (min-width: 768px) {
  main .columns-container{
    flex-direction: row;
  }
  .product-image{
    margin: 0;
  }
  .product-images-block{
    flex: 5;
  }
  .product-description-block{
    flex: 1;
  }
  .checkout-container{
    flex: 1;
    padding: 3rem;
  }

  .sales-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sales-block h2{
    font-size: 4rem;
    grid-column: 1 / 4;
  }
  .search .form input{
    width: 40rem;
  }
}
@media (min-width: 1024px) {
  .sales-block{
    grid-template-columns: repeat(3, 1fr);
  }
}

/** FOOTER **/

footer .container{
  display: flex;
  flex-direction: column;
}
footer .columns-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.columns-container .col ul{
  padding: 0;
  list-style-type: none;
}
.columns-container .col ul li {
  padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 2rem;
}
.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}
.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 3rem 0;
  box-sizing: border-box;
}

/** MEDIAQUERYS **/
@media (min-width: 425px) {
  .search .form input{
    width: 20rem;
  }
}
@media (max-width: 500px) {
  .nav ul{
    font-size: 1.2rem;
  }
  footer .columns-container .col ul li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .search .form input{
    width: 40rem;
  }
  footer .columns-container{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

