/** Globales **/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem; /*1rem = 10px*/
}

body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
}
header {
    height: 10rem;
    background-color: #ff3b3c;

}
section {
  height: 340px;
}
main {
  height: auto;
  padding: 5rem;
}
footer {
  min-height: 368px;
  background-color: #7525A7;
}

/**header**/
.search{
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.search .form{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input{
  height: 6.2rem;
  border-radius: 1.4rem;
  border: none;
  width: 10rem;
  padding: 2rem;
  box-sizing: border-box;
}
.search .social ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 500px) {
  .nav ul{
    font-size: 1.2rem;
  }
  .columns-container .col ul li a {
    font-size: 1.2rem;
  }
}
.search .social ul li{
  padding: 0 1rem;
}
.nav{
  padding: 1rem 0;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li a{
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover{
  text-decoration: underline;
}

/**Seccion Hero**/

section#hero{
  height: 34rem;
  background: url("../assets/hero_bg.png");
  background-size: cover;
  background-position: top center;
}
section#hero .container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-container span{
  display: block;
  color: white;
  font-weight: 700;
}
.title-container span:first-child{
  font-size: 3rem;
}
.title-container span:last-child{
  font-size: 8rem;
  line-height: 8rem;
}

/** MAIN **/

.container{
  width: 100%;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.product-container a{
  text-decoration: none;
  color: initial;
}

@media (min-width: 425px) {
  .search .form input{
    width: 20rem;
  }
  .title-container span:first-child{
    font-size: 4rem;
  }
  .title-container span:last-child{
    font-size: 10rem;
    line-height: 8rem;
  }
}
@media (min-width: 768px) {
  .product-container{
    grid-template-columns: repeat(3, 1fr);
  }
  .search .form input{
    width: 40rem;
  }
}
@media (min-width: 1024px) {
  .product-container{
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
}
.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}
.product-price-block .price {
  font-size: 2.2rem;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 1.2rem;
  font-weight: 700;
  color: #428f13;
}

.product-card{
  background-color: #F0F0F0;
  border-radius: 1.4rem;
  width: auto;
  overflow: hidden;
}
.product-card:hover{
  text-decoration: underline;
}
.product-info{
  padding: 2rem;
  box-sizing: border-box;
}
.product-title{
  font-size: large;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  line-height: 2.2rem;
}
.product-description{
  font-size: small;
  font-weight: normal;
  margin: 0.6rem;
}
.product-tax-policy{
  font-size: medium;
  font-weight: lighter;
}

/** FOOTER **/

footer .container{
  display: flex;
  flex-direction: column;
}
.columns-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  footer .columns-container{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.columns-container .col ul{
  padding: 0;
  list-style-type: none;
}
.columns-container .col ul li {
  padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 2rem;
}
.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}
.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 3rem 0;
  box-sizing: border-box;
}